@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: hsl(220, 14%, 21%);
    --secondary: hsl(220, 14%, 30%);
    --info: hsl(227, 97%, 71%);
    --info-focus: hsl(227, 97%, 65%);
    --white: hsl(0, 0%, 100%);
    --gray-100: hsl(220, 14%, 70%);
    --gray-200: hsl(220, 14%, 60%);
}

@font-face {
    font-family: 'Archivo';
    src: url('./assets/fonts/Archivo-Regular.ttf') format('truetype'),
         url('./assets/fonts/Archivo-SemiBold.ttf') format('truetype'),
         url('./assets/fonts/Archivo-Thin.ttf') format('truetype');
}

body {
    background: var(--primary);
    font-family: 'Archivo', sans-serif;
}